.option-box {
    background-color: rgba(255, 255, 255, 0.15);;
    backdrop-filter: blur(15px);
    border-radius: 25px;
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    height: 340px;
    width: 600px;
    justify-content: space-around;
}

.option-btn {
    background: rgba(255, 255, 255, 0.2);
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-family: var(--font-archivo);
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    backdrop-filter: blur(10px);
}

.option-btn:hover {
    background: rgba(255, 255, 255, 0.3);
    transform: translateY(-2px);
}

.option-btn.primary {
    background: rgba(255, 255, 255, 0.3);
}